table {
    width: 100%;
    border: 1px solid #000;
    border-collapse: collapse;
 }

 tr, td {
    width: 250px;
    text-align: center;
    vertical-align: center;
    border: 1px solid #000;
    padding: 0.3em;
 }

 tr {
    background: #fbf9f9;
 } 

 .tittle{
    background-color: rgb(9, 255, 0);
    font-size: 25px;
    font-family: 'Arial Narrow';
 }
